<h1>Доставки</h1>

<a href="#" type="button" routerLink='./add' class="btn btn-default">Добавить</a>
<table class="table table-striped">
  <thead>
    <th></th>
      <th>Адрес</th>
      <th>Водитель</th>
      <th>Дата</th>
      <th>Количество доставок</th>
      <th>Статус</th>
      <th></th>
      <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let delivery of (deliveries | async); let i = index">
      <ng-template 
      [ngTemplateOutlet]="loadTemplate(delivery)"
      [ngTemplateOutletContext]="{ $implicit: delivery, index: i }"></ng-template>
    </tr>
  </tbody>
</table>
<app-pager *ngIf="(pageInfo | async).pageCount() > 1"
        [pageInfo]="(pageInfo | async)"
        (onPageClick)="onPageClicked($event)"></app-pager>

  <ng-template #readOnlyTemplate let-delivery let-i="index">
    <td><a [routerLink]="['./edit', delivery.id]">{{i + 1}}</a></td>
    <td>{{delivery.address}}</td>
    <td>{{delivery.driver.name}}</td>
    <td>{{delivery.date | date:'dd.MM.yyyy'}}</td>
    <td>{{delivery.purchases.length}}</td>
    <td>{{delivery.status}}</td>
    <td>
        <input type="button" value="Изменить" class="btn btn-default" (click)="editDelivery(delivery)" />
    </td>
    <td>
        <input type="button" value="Удалить" (click)="deleteDelivery(delivery.id)" class="btn btn-danger" />
    </td>
</ng-template>

<ng-template #editTemplate let-i="index">
    <td>{{i + 1}}</td>
    <td>
      <app-dropdown [valueList]="(drivers | async)" [selectedItem]="editedDelivery.driver" (onItemSelect)="onDriverSelect($event)"></app-dropdown>
    </td>
    <td>
        <my-date-picker [options]="datePickerOptions" name="deliveryDate" [selDate]="
            {
                year: editedDelivery.date.getFullYear(),
                month: editedDelivery.date.getMonth() + 1,
                day: editedDelivery.date.getDate()
            }" (dateChanged)="onDateChanged($event)"></my-date-picker>
    </td>
    <td>
        {{editedDelivery.purchases.length}}
    </td>
    <td>
        {{editedDelivery.status}}
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="saveDelivery(editedDelivery.id)" class="btn btn-success" />
    </td>
    <td>
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </td>
</ng-template>