<h1>Доставки</h1>

<a href="#" type="button" routerLink='./add' class="btn btn-default">Добавить</a>
<table class="table table-striped">
  <thead>
    <th></th>
      <th>Адрес</th>
      <th>Водитель</th>
      <th>Дата</th>
      <th>Количество товаров</th>
      <th>Статус</th>
      <th></th>
      <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let delivery of (deliveries | async); let i = index">
      <ng-template 
      [ngTemplateOutlet]="loadTemplate(delivery)"
      [ngTemplateOutletContext]="{ $implicit: delivery, index: i }"></ng-template>
    </tr>
  </tbody>
</table>
<app-pager 
  [currentPage]="(pageInfo | async).currentPage"
  [pagesCount]="(pageInfo | async).pageCount()"></app-pager>

  <ng-template #readOnlyTemplate let-delivery let-i="index">
    <td>{{i + 1}}</td>
    <td>{{delivery.address}}</td>
    <td>{{delivery.driver.name}}</td>
    <td>{{delivery.deliveryDate | date:'dd.MM.yyyy'}}</td>
    <td>{{delivery.productsCount}}</td>
    <td>{{delivery.status}}</td>
    <td>
        <input type="button" value="Изменить" class="btn btn-default" (click)="editDelivery(delivery)" />
    </td>
    <td>
        <input type="button" value="Удалить" (click)="deleteDelivery(delivery.id)" class="btn btn-danger" />
    </td>
</ng-template>

<ng-template #editTemplate let-i="index">
    <td>{{i + 1}}</td>
    <td>
      <input type="text" [(ngModel)]="editedDelivery.address" class="form-control">
    </td>
    <td>
      <app-dropdown [valueList]="(drivers | async)" [selectedItem]="editedDelivery.driver" (onItemSelect)="onDriverSelect($event)"></app-dropdown>
    </td>
    <td>
        <my-date-picker [options]="datePickerOptions" name="deliveryDate" [selDate]="
            {
                year: editedDelivery.deliveryDate.getFullYear(),
                month: editedDelivery.deliveryDate.getMonth() + 1,
                day: editedDelivery.deliveryDate.getDate()
            }" (dateChanged)="onDateChanged($event)"></my-date-picker>
    </td>
    <td>
        {{editedDelivery.productsCount}}
    </td>
    <td>
        {{editedDelivery.status}}
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="saveDelivery(editedDelivery.id)" class="btn btn-success" />
    </td>
    <td>
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </td>
</ng-template>