<div class="pager">
    <ng-template 
    [ngTemplateOutlet]="loadTemplate()"></ng-template>    
</div>

<ng-template #fewItems>
    <ul class="pagination pagination-lg">
      <li [ngClass]="{'disabled': pageInfo.currentPage==1}" (click)="pageClick(pageInfo.currentPage-1)"><a>&laquo;</a></li>
      <li *ngFor="let x of Arr(pageInfo.pageCount()).fill(1); index as i" [ngClass]="{'active': i+1 == pageInfo.currentPage}" (click)="pageClick(i+1)"><a>{{i + 1}}</a></li>
      <li [ngClass]="{'disabled': pageInfo.currentPage==pageInfo.itemsCount}" (click)="pageClick(pageInfo.currentPage+1)"><a>&raquo;</a></li>
    </ul>
</ng-template>
  
<ng-template #aLotItems>
    <ul class="pagination pagination-lg" *ngIf="pageInfo.currentPage <= 3">
      <li [ngClass]="{'disabled': pageInfo.currentPage == 1}" (click)="pageClick(pageInfo.currentPage-1)"><a>&laquo;</a></li>      
      <li *ngFor="let x of Arr(3).fill(1); index as i" [ngClass]="{active: pageInfo.currentPage == i+1}" (click)="pageClick(i+1)"><a>{{ i + 1 }}</a></li>
      <li><span>...</span></li>
      <li [ngClass]="{'disabled': pageInfo.currentPage == pageInfo.itemsCount }" (click)="pageClick(pageInfo.currentPage+1)"><a>&raquo;</a></li>
    </ul>
    <ul class="pagination pagination-lg" *ngIf="pageInfo.currentPage > 3 && pageInfo.currentPage < pageInfo.pageCount() - 3">
        <li (click)="pageClick(pageInfo.currentPage-1)"><a>&laquo;</a></li>
        <li (click)="pageClick(1)"><a>{{ 1 }}</a></li>
        <li><span>...</span></li>
        <li (click)="pageClick(pageInfo.currentPage-1)"><a>{{ pageInfo.currentPage -1 }}</a></li>
        <li class="active"><a>{{pageInfo.currentPage }}</a></li>
        <li (click)="pageClick(pageInfo.currentPage+1)"><a>{{ pageInfo.currentPage + 1 }}</a></li>
        <li><span>...</span></li>
        <li (click)="pageClick(pageInfo.pageCount())"><a>{{pageInfo.pageCount()}}</a></li>
        <li [ngClass]="{'disabled': pageInfo.currentPage==pageInfo.pageCount()}" (click)="pageClick(pageInfo.currentPage+1)"><a>&raquo;</a></li>
    </ul>
    <ul class="pagination pagination-lg" *ngIf="currentPage > pageInfo.pageCount() - 3 &&pageInfo.currentPage <= pageInfo.pageCount()">
        <li (click)="pageClick(pageInfo.currentPage-1)"><a>&laquo;</a></li>
        <li (click)="pageClick(1)"><a>1</a></li>
        <li><span>...</span></li>
        <li *ngFor="let x of Arr(3).fill(1); index as i" [ngClass]="{active:pageInfo.currentPage == (pageInfo.pageCount() - 2) + i}" (click)="pageClick((pageInfo.pageCount() - 2) + i)"><a>{{ (pageInfo.pageCount() - 2) + i }}</a></li>
        <li [ngClass]="{'disabled':pageInfo.currentPage==pageInfo.pageCount()}" (click)="pageClick(pageInfo.currentPage+1)"><a>&raquo;</a></li>
      </ul>
</ng-template>