<h2>Создание покупки</h2>

<side-panel-container></side-panel-container>

<form (ngSubmit)="addPurchase()" *ngIf="purchaseForm != null" [formGroup]="purchaseForm">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" [disabled]="!checkPurchaseValid()" type="submit">Сохранить</button>      
    </div>        
  </div>
  <div class="row">
    <div class="col-xs-12">      
        <div class="col-sm-5 form-group">
          <label for="purchaseDate">Дата:</label>
          <div>
            <my-date-picker 
            [options]="myDatePickerOptions"
            name="purchaseDate"
            (dateChanged)="onDateChanged($event)"
            [selDate]="{
              year: purchaseDate.getFullYear(),
              month: purchaseDate.getMonth() + 1,
              day: purchaseDate.getDate()
          }"></my-date-picker>
          </div>
        </div>
        <div class="col-sm-5 form-group">
          <label for="needDelivery">Нужна доставка:</label>
          <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default">
                  <span [ngStyle]="needDelivery ? {'opacity': '1'} : {'opacity': '0'}" class="glyphicon glyphicon-ok" (click)="sidePanelOpenDeliveries()"></span>
              </label>            
          </div>
        </div>
    </div>
  </div>

  <a (click)="sidePanelOpenProducts()" style="cursor: pointer;">
      <h3>Добавить продукты</h3>
  </a>
  <div class="row">
    <div class="col-xs-12">
      <table id="purchaseProducts" class="table table-striped">
        <thead>
          <th>Наименование</th>
          <th>Итоговая цена</th>
          <th>Количество</th>
          <th><button class="btn btn-default" (click)="clearPurchaseProducts()">Очистить</button></th>
        </thead>
        <tbody>
          <tr *ngFor="let unit of (purchaseUnits | async); let i = index">
            <td>{{unit.product.name}}</td>
            <td>{{unit.storePrice}}</td>
            <td>{{unit.count}}</td>
            <td><a class="btn btn-danger" (click)="deleteProductFromPurchase(unit.product.id)">Убрать</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>