<h1>Покупки</h1>

<a href="#" type="button" routerLink='./add' class="btn btn-default">Добавить</a>
<table class="table table-striped">
  <thead>
      <th></th>
      <th>Дата</th>
      <th>Количество товаров</th>
      <th>Доставка</th>
      <th></th>
      <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let purchase of (purchases | async); let i = index">
      <ng-template 
      [ngTemplateOutlet]="loadTemplate(purchase)"
      [ngTemplateOutletContext]="{ $implicit: purchase, index: i }"></ng-template>
    </tr>
  </tbody>
</table>
<app-pager *ngIf="(pageInfo | async).pageCount() > 1"
  [pageInfo]="(pageInfo | async)"
  (onPageClick)="onPageClicked($event)"></app-pager>

  <ng-template #readOnlyTemplate let-purchase let-i="index">
    <td><a [routerLink]="['./edit', purchase.id]">{{getItemNumber((pageInfo | async), i)}}</a></td>
    <td>{{purchase.date | date:'dd.MM.yyyy'}}</td>
    <td>{{purchase.purchaseUnits.length}}</td>
    <td>{{purchase.deliveries.length > 0 ? "Есть" : "Нет"}}</td>
    <td>
        <input type="button" value="Изменить" class="btn btn-default" (click)="editPurchase(purchase)" />
    </td>
    <td>
        <input type="button" value="Удалить" (click)="deletePurchase(purchase.id)" class="btn btn-danger" />
    </td>
</ng-template>

<ng-template #editTemplate let-i="index">
    <td>{{i + 1}}</td>
    <td>
      <my-date-picker [options]="datePickerOptions" name="deliveryDate" [selDate]="
            {
                year: editedPurchase.date.getFullYear(),
                month: editedPurchase.date.getMonth() + 1,
                day: editedPurchase.date.getDate()
            }" (dateChanged)="onDateChanged($event)"></my-date-picker>
    </td>
    <td>
      {{editedPurchase.purchaseUnits.length}}
    </td>
    <td>
      {{editedPurchase.deliveries.length > 0 ? "Есть" : "Нет"}}
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="savePurchase(editedPurchase.id)" class="btn btn-success" />
    </td>
    <td>
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </td>
</ng-template>