<h1>Производители</h1>

<a href="#" type="button" routerLink='./add' class="btn btn-default">Добавить</a>
<table class="table table-striped">
  <thead>
    <th></th>
    <th>Название</th>
    <th>Страна</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let manufacture of (manufactures | async); let i = index">
      <ng-template 
      [ngTemplateOutlet]="loadTemplate(manufacture)"
      [ngTemplateOutletContext]="{ $implicit: manufacture, index: i }"></ng-template>
    </tr>
  </tbody>
</table>
<app-pager *ngIf="(pageInfo | async).pageCount() > 1"
  [pageInfo]="(pageInfo | async)"
  (onPageClick)="onPageClicked($event)"></app-pager>

  <ng-template #readOnlyTemplate let-manufacture let-i="index">
      <td><a [routerLink]="['./edit', manufacture.id]">{{getItemNumber((pageInfo | async), i)}}</a></td>
      <td>{{manufacture.name}}</td>
      <td>{{manufacture.country}}</td>
      <td>
          <input type="button" value="Изменить" class="btn btn-default" (click)="editManufacture(manufacture)" />
      </td>
      <td>
          <input type="button" value="Удалить" (click)="deleteManufacture(manufacture.id)" class="btn btn-danger" />
      </td>
  </ng-template>

  <ng-template #editTemplate let-i="index">
      <td>{{getItemNumber((pageInfo | async), i)}}</td>
      <td>
        <input type="text" [(ngModel)]="editedManufacture.name" class="form-control">
      </td>
      <td>
        <input type="text" [(ngModel)]="editedManufacture.country" class="form-control">
      </td>
      <td>
          <input type="button" value="Сохранить" (click)="saveManufacture(editedManufacture.id)" class="btn btn-success" />
      </td>
      <td>
          <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
      </td>
  </ng-template>