<div [ngClass]="hidden ? 'sidebar-hidden' : 'col-sm-3 col-md-2'" class="sidebar">
  <ul class="nav nav-sidebar menu">
    <li routerLinkActive="active"><a routerLink='./products'>Товары</a></li>
    <li routerLinkActive="active"><a routerLink='./categories'>Категории товаров</a></li>
    <li routerLinkActive="active"><a routerLink='./providers'>Поставщики</a></li>
    <li routerLinkActive="active"><a routerLink='./manufactures'>Производители</a></li>
    <li routerLinkActive="active"><a routerLink='./imports'>Поставки</a></li>
    <li routerLinkActive="active"><a routerLink='./purchases'>Покупки</a></li>
    <li routerLinkActive="active"><a routerLink='./drivers'>Водители</a></li>
    <li routerLinkActive="active"><a routerLink='./deliveries'>Доставки</a></li>
    <li routerLinkActive="active"><a routerLink='./return-purchases'>Возвраты</a></li>
  </ul>
  <div class="footer" (click)="sidebarToggle()">
    <i for="hide" class="hide-panel" [ngClass]="hidden ? 'glyphicon glyphicon-menu-right' : 'glyphicon glyphicon-menu-left'"></i>
  </div>
</div>