@media (min-width: 768px){
    .sidebar {
        top: 51px;
        margin-top: 1px;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
        position: absolute;
        bottom: 0px;
    }

    li.active, li:hover{        
        background-color: #337ab7;
        border-radius: 3px;
    }
    li.active a{
        color: #f5f5f5;
    }
    .nav>li>a:focus, .nav>li>a:hover{
        color: #f5f5f5;
        background-color: #337ab7;
        text-decoration: underline;
        border-radius: 3px;
    }
}