<h2>Добавление производителя</h2>

<form (ngSubmit)="addManufacture()" [formGroup]="manufactureForm">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" [disabled]="!manufactureForm.valid" type="submit">Сохранить</button>
      <button class="btn btn-danger" type="button" (click)="onCancel()">Отменить</button>
    </div>        
  </div>
  <div class="row">
    <div class="col-xs-12">      
        <div class="col-sm-5 form-group">
          <label for="name">Наименование</label>
          <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          formControlName="name">
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">      
        <div class="col-sm-5 form-group">
          <label for="country">Страна</label>
          <input
          type="text"
          class="form-control"
          id="country"
          name="country"
          formControlName="country">
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-sm-5">
        <label for="description">Описание</label>
        <textarea name="description" id="description" formControlName="description" cols="30" rows="10"></textarea>
      </div>
    </div>
  </div>
</form>