*{
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

/* You can add global styles to this file, and also import other style files */
form.ng-invalid.ng-touched .error-text{
    margin-top: 15px;
    color: red;
}
form input.ng-invalid.ng-touched{
    border: 1px solid red;
}
.wrapper {
  position: relative;
  min-height: 100%;
}

input.ng-invalid.ng-touched{
  border-color: red;
}
.error{
  color: red;
}
.error{
  display: none;
}
.text-danger{
  display: none;
}
form.ng-invalid.ng-touched .error-text{
  display: block;
  margin-top: 15px;
  color: red;
}