/* You can add global styles to this file, and also import other style files */
form.ng-invalid.ng-touched .error-text{
    margin-top: 15px;
    color: red;
}
form input.ng-invalid.ng-touched{
    border: 1px solid red;
}