<h2>Создание доставки</h2>

<form (ngSubmit)="addImport()" [formGroup]="importForm">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" [disabled]="!importForm.valid" type="submit">Сохранить</button>      
    </div>        
  </div>
  <div class="row">
    <div class="col-xs-12">      
        <div class="col-sm-2 form-group">
          <label>Поставщик</label>
          <app-dropdown [valueList]="(importsState | async).providers" (onItemSelect)="onProviderSelect($event)"></app-dropdown>        
        </div>
        <div class="col-sm-2 form-group">
          <label for="createdDate">Дата создания</label>
          <div>
            <my-date-picker 
              [options]="myDatePickerOptions"
              name="createdDate"
              formControlName="createdDate"
              (dateChanged)="onCreatedDateChanged($event)"
              [required]="true"
              [selDate]="{
                year: importDate.getFullYear(),
                month: importDate.getMonth() + 1,
                day: importDate.getDate()
              }"></my-date-picker>
          </div>
        </div>
        <div class="col-sm-5 form-group">
          <label for="importDate">Ожидаемая дата поставки:</label>
          <div>
            <my-date-picker 
              [options]="myDatePickerOptions"
              name="importDate"
              [required]="true"
              formControlName="importDate"
              (dateChanged)="onImportDateChanged($event)"
              [selDate]="{
                year: importDate.getFullYear(),
                month: importDate.getMonth() + 1,
                day: importDate.getDate()
              }"></my-date-picker>
          </div>
        </div>
        <div class="col-sm-5 form-group">
          <label for="importDate">Фактическая дата поставки:</label>
          <div>
            <my-date-picker 
              [options]="myDatePickerOptions"
              name="finishDate"
              [required]="true"
              formControlName="finishDate"
              (dateChanged)="onFinishDateChanged($event)"
              [selDate]="{
                year: importDate.getFullYear(),
                month: importDate.getMonth() + 1,
                day: importDate.getDate()
              }"></my-date-picker>
          </div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table id="importProducts" class="table table-striped">
        <thead>
          <th>Наименование</th>
          <th>Артикул</th>
          <th>Категория</th>
          <th>Количество</th>
          <th>Закупочная цена</th>
          <th>Фактическая цена</th>
          <th><button class="btn btn-default" (click)="clearImportProducts()">Очистить</button></th>
        </thead>
        <tbody>
          <tr *ngFor="let product of importProducts; let i = index">
            <td>{{product.Name}}</td>
            <td>{{product.VendorCode}}</td>
            <td>{{product.Category.Name}}</td>
            <td>{{product.Count}}</td>
            <td>{{product.PurchasePrice}}</td>
            <td>{{product.SellingPrice}}</td>
            <td><button class="btn btn-danger" (click)="deleteProductFromImport(i)">Убрать</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table id="products" class="table table-striped">
        <thead>
          <th>Наименование</th>
          <th>Артикул</th>
          <th>Категория</th>
          <th>Количество</th>
          <th>Закупочная цена</th>
          <th>Фактическая цена</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let product of (productsState | async).products">
            <td>{{product.Name}}</td>
            <td>{{product.VendorCode}}</td>
            <td>{{product.Category.Name}}</td>
            <td>{{product.Count}}</td>
            <td>{{product.PurchasePrice}}</td>
            <td>{{product.SellingPrice}}</td>
            <td><button class="btn btn-success" (click)="addProductToImport(product)">Добавить</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>