<h1>Поставщики</h1>

<a href="#" type="button" routerLink='./add' class="btn btn-default">Добавить</a>
<table class="table table-striped">
  <thead>
    <th></th>
    <th>Название</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let provider of (providers | async); let i = index">
      <ng-template 
      [ngTemplateOutlet]="loadTemplate(provider)"
      [ngTemplateOutletContext]="{ $implicit: provider, index: i }"></ng-template>
    </tr>
  </tbody>
</table>
<app-pager *ngIf="(pageInfo | async).pageCount() > 1"
  [pageInfo]="(pageInfo | async)"
  (onPageClick)="onPageClicked($event)"></app-pager>

  <ng-template #readOnlyTemplate let-provider let-i="index">
      <td><a [routerLink]="['./edit', provider.id]">{{i + 1}}</a></td>
      <td>{{provider.name}}</td>
      <td>
          <input type="button" value="Изменить" class="btn btn-default" (click)="editProvider(provider)" />
      </td>
      <td>
          <input type="button" value="Удалить" (click)="deleteProvider(provider.id)" class="btn btn-danger" />
      </td>
  </ng-template>

  <ng-template #editTemplate let-i="index">
      <td>{{i + 1}}</td>
      <td>
        <input type="text" [(ngModel)]="editedProvider.name" class="form-control">
      </td>
      <td>
          <input type="button" value="Сохранить" (click)="saveProvider(editedProvider.id)" class="btn btn-success" />
      </td>
      <td>
          <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
      </td>
  </ng-template>