<h1>Поставщики</h1>

<a href="#" type="button" routerLink='./add' class="btn btn-default">Добавить</a>
<table class="table table-striped">
  <thead>
    <th></th>
    <th>Название</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let provider of (providersState | async).providers; let i = index">
      <ng-template 
      [ngTemplateOutlet]="loadTemplate(provider)"
      [ngTemplateOutletContext]="{ $implicit: provider, index: i }"></ng-template>
    </tr>
  </tbody>
</table>
<app-pager 
  [currentPage]="(providersState | async).pageInfo.currentPage"
  [pagesCount]="(providersState | async).pageInfo.pageCount()"></app-pager>

  <ng-template #readOnlyTemplate let-provider let-i="index">
      <td>{{i + 1}}</td>
      <td>{{provider.Name}}</td>
      <td>
          <input type="button" value="Изменить" class="btn btn-default" (click)="editProvider(provider)" />
      </td>
      <td>
          <input type="button" value="Удалить" (click)="deleteProvider(provider)" class="btn btn-danger" />
      </td>
  </ng-template>

  <ng-template #editTemplate let-i="index">
      <td>{{i + 1}}</td>
      <td>
        <input type="text" [(ngModel)]="editedProvider.Name" class="form-control">
      </td>
      <td>
          <input type="button" value="Сохранить" (click)="saveProvider(i)" class="btn btn-success" />
      </td>
      <td>
          <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
      </td>
  </ng-template>