<h1>Товары в наличии</h1>

<a href="#" type="button" routerLink='./add' class="btn btn-default">Добавить</a>
<table class="table table-striped">
  <thead>
    <th></th>
      <th>Название</th>
      <th>Артикул</th>
      <th>Категория</th>
      <th>Производитель</th>
      <th>Поставщик</th>
      <th>Количество</th>
      <th>Закупочная цена</th>
      <th>Фактическая цена</th>
      <th></th>
      <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let product of (products | async); let i = index">
      <ng-template 
      [ngTemplateOutlet]="loadTemplate(product)"
      [ngTemplateOutletContext]="{ $implicit: product, index: i }"></ng-template>
    </tr>
  </tbody>
</table>
<app-pager 
  [currentPage]="(pageInfo | async).currentPage"
  [pagesCount]="(pageInfo | async).pageCount()"></app-pager>

<ng-template #readOnlyTemplate let-product let-i="index">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.vendorCode}}</td>
    <td>{{product.category.name}}</td>
    <td>{{product.manufacture.name}}</td>
    <td>{{product.provider.name}}</td>
    <td>{{product.count}}</td>
    <td>{{product.providerPrice}}</td>
    <td>{{product.storePrice}}</td>
    <td>
        <input type="button" value="Изменить" class="btn btn-default" (click)="editProduct(product)" />
    </td>
    <td>
        <input type="button" value="Удалить" (click)="deleteProduct(product.id)" class="btn btn-danger" />
    </td>
</ng-template>

<ng-template #editTemplate let-i="index">
    <td>{{i + 1}}</td>
    <td>
      <input type="text" [(ngModel)]="editedProduct.name" class="form-control">
    </td>
    <td>
        <input type="text" [(ngModel)]="editedProduct.vendorCode" class="form-control">
    </td>
    <td>
      <app-dropdown [valueList]="(categories | async)" [selectedItem]="editedProduct.category" (onItemSelect)="onCategorySelect($event)"></app-dropdown>
    </td>
    <td>
        <app-dropdown [valueList]="(manufactures | async)" [selectedItem]="editedProduct.manufacture" (onItemSelect)="onManufactureSelect($event)"></app-dropdown>
    </td>
    <td>
        <app-dropdown [valueList]="(providers | async)" [selectedItem]="editedProduct.provider" (onItemSelect)="onProviderSelect($event)"></app-dropdown>
    </td>
    <td>
        <input type="text" [(ngModel)]="editedProduct.count" class="form-control">
    </td>
    <td>
        <input type="text" [(ngModel)]="editedProduct.providerPrice" class="form-control">
    </td>
    <td>
        <input type="text" [(ngModel)]="editedProduct.storePrice" class="form-control">
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="saveProduct(editedProduct.id)" class="btn btn-success" />
    </td>
    <td>
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </td>
</ng-template>