<h1>Товары в наличии</h1>

<a href="#" type="button" routerLink='./add' class="btn btn-default">Добавить</a>
<table class="table table-striped">
  <thead>
    <th></th>
      <th>Название</th>
      <th>Категория</th>
      <th>Производитель</th>
      <th>Поставщик</th>
      <th>Количество</th>
      <th></th>
      <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let product of (productsState | async).products; let i = index">
      <ng-template 
      [ngTemplateOutlet]="loadTemplate(product)"
      [ngTemplateOutletContext]="{ $implicit: product, index: i }"></ng-template>
    </tr>
  </tbody>
</table>
<app-pager 
  [currentPage]="(productsState | async).pageInfo.currentPage"
  [pagesCount]="(productsState | async).pageInfo.pageCount()"></app-pager>

<ng-template #readOnlyTemplate let-product let-i="index">
    <td>{{i + 1}}</td>
    <td>{{product.Name}}</td>
    <td>{{product.Category.Name}}</td>
    <td>{{product.Manufacture.Name}}</td>
    <td>{{product.Provider.Name}}</td>
    <td>{{product.Count}}</td>
    <td>
        <input type="button" value="Изменить" class="btn btn-default" (click)="editProduct(product)" />
    </td>
    <td>
        <input type="button" value="Удалить" (click)="deleteProduct(product)" class="btn btn-danger" />
    </td>
</ng-template>

<ng-template #editTemplate let-i="index">
    <td>{{i + 1}}</td>
    <td>
      <input type="text" [(ngModel)]="editedProduct.Name" class="form-control">
    </td>
    <td>
      <app-dropdown [valueList]="(productsState | async).categories" [selectedItem]="editedProduct.Category" (onItemSelect)="onCategorySelect($event)"></app-dropdown>
    </td>
    <td>
        <app-dropdown [valueList]="(productsState | async).manufactures" [selectedItem]="editedProduct.Manufacture" (onItemSelect)="onManufactureSelect($event)"></app-dropdown>
    </td>
    <td>
        <app-dropdown [valueList]="(productsState | async).providers" [selectedItem]="editedProduct.Provider" (onItemSelect)="onProviderSelect($event)"></app-dropdown>
    </td>
    <td>
        <input type="text" [(ngModel)]="editedProduct.Count" class="form-control">
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="saveProduct(i)" class="btn btn-success" />
    </td>
    <td>
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </td>
</ng-template>